fastapi
uvicorn
python-multipart
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
pydantic[email]
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers==4.57.1
pillow
opencv-python
facenet-pytorch
spacy
groq
httpx
psutil
numpy
